<h1>Đăng nhập</h1>

<%= form_for(:session, url: login_path) do |form| %>
    <div class="field">
        <%= form.label ('Tên đăng nhập:') %>
        <%= form.text_field :username %>
    </div>
     
    <div class="field">
        <%= form.label ('Mật khẩu:') %>
        <%= form.password_field :password %>
    </div>

    <%= form.submit ('Đăng nhập') %>

<% end %>

<% if !flash.nil? %>
<h1><%= flash[:invalid] %></h1>
<% end %>
