<!DOCTYPE html>
<html>
  <head>
    <title>EverLandV2</title>   
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		
  </head>
  <body>
    <div class="container">
        <div class="row tung-form">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div id="wrapper">

                    <div id="register">        
                    <%= form_for resource, as: resource_name, url: registration_path(resource_name), :html => {:id => "form_register"} do |form| %> <!-- form đăng ký -->
                        <h1>Đăng ký</h1>
                        <p class="notice"><%= notice %></p>
                        <p class="alert"><%= alert %></p>
                        <div class="row">
                            <%= form.label ('Tên đăng nhập ') %> <span class="obli">(*)</span> <br/>
                            <%= form.text_field :username, class: 'tung-input form-control', id: :signup_username, onchange: 'checkUsername()' %>
                            <p id="errorUser" class='error'></p>
                            <p id="successUser" class='success'></p>
                        </div>                 
                        <div class="row">
                            <%= form.label ('Địa chỉ email ') %> <span class="obli">(*)</span> <br/>
                            <%= form.text_field :email, class: 'tung-input form-control', id: :signup_email, onchange: 'checkEmail()' %>
                            <p id="errorEmail" class='error'></p>
                            <p id="successEmail" class='success'></p>
                        </div>
                        
                        <div class="row">
                            <%= form.label ('Mật khẩu ') %> <span class="obli">(*)</span> <br/>
                            <%= form.password_field :password, class: 'tung-input form-control', id: :signup_password, onchange: 'checkPassword()' %>
                            <p id="errorPass" class='error'></p>
                        </div>
                        
                        <div class="row">
                            <%= form.label ('Xác thực mật khẩu ') %> <span class="obli">(*)</span> <br/>
                            <%= form.password_field :password_confirmation, class: 'tung-input form-control',
                                id: :signup_password_confirmation, onchange: 'checkPasswordConfirm()' %>
                            <p id="errorPasswordConfirm" class='error'></p>
                        </div>                       
                        
                        <div class="row">
                            <%= form.label ('Tên đầy đủ ') %> <span class="obli">(*)</span> <br/>
                            <%= form.text_field :name, class: 'tung-input form-control', id: :signup_name, onchange: 'checkName()' %>
                            <p id="errorName" class='error'></p>
                        </div>

                        <div class="row">
                            <%= form.label ('Điện thoại di động ') %> <br/>
                            <%= form.text_field :phone, class: 'tung-input form-control', id: :signup_phone, onchange: 'checkPhone()' %>
                            <p id="errorPhone" class='error'></p>
                        </div>
                        
                        <div class="row">
                            <%= form.label ('Ngày sinh ') %> <br/>
                            <%= form.date_field :birthday, class: "tung-input form-control" %>
                        </div>
                        <br/>
                        <div class="row">
                            <label class="container-radio">Nam
                                <%= form.radio_button :gender, 'male', checked: true %>
                                <span class="checkmark"></span>
                            </label>
                            <label class="container-radio">Nữ
                                <%= form.radio_button :gender, 'female' %>
                                <span class="checkmark"></span>
                            </label>                            
                        </div>
                        <br/>
                        <div class="row">
                            <%= form.label ('Địa chỉ ') %> <br/>
                            <%= form.text_field :address, class: 'tung-input form-control', id: :user_address %>
                        </div>
                        <br/>
                        <div class="row">
                            <label class="container-radio">Cá nhân
                                <%= form.radio_button :personal, 'true', checked: true %>
                                <span class="checkmark"></span>
                            </label>
                            <label class="container-radio">Công ty
                                <%= form.radio_button :personal, 'false' %>
                                <span class="checkmark"></span>
                            </label>                          
                        </div>
                        <br/>                                              
                        <div class="row">
                            <div class="col-md-12" style="padding: 30px 0px">
                            <%= form.submit ('Đăng ký'), id: 'signup_btn', class: 'col-md-12 btn btn-dark tung-btn-form', :type => 'button', onclick: 'validateSignupForm()'%>
                            <!-- , :type => 'button', onclick: 'validateSignupForm()' -->
                            </div>
                        </div>                                                                                                  
                        <h6 style="text-align: center">
                            <%= link_to 'Về trang chủ', root_path, style: 'color: #006064' %>
                        </h6>
                        <p class="change_link" style="margin-top: 40px">  
                            Bạn đã là thành viên?
                        <%= link_to  " Trở lại đăng nhập ", new_user_session_path, onclick: 'resetLoginForm()'%>
                        </p>
                    <% end %>
                    </div>
                </div>  
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

  </body>
</html>

