<!DOCTYPE html>
<html>
  <head>
    <title>EverLandV2</title>   
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		
  </head>
  <body>
    <div class="container">
        <div class="row tung-modal">
            <div id="wrapper"> 
                <div id="register">        
                <%= form_for resource, as: resource_name, url: registration_path(resource_name), :html => {:id => "form_register"} do |form| %> <!-- form đăng ký -->
                    <h1>Đăng ký</h1>
                    <p class="notice"><%= notice %></p>
                    <p class="alert"><%= alert %></p>
                    <p >
                        <%= form.label ('Tên đăng nhập ') %> <span class="obli">(*)</span> <br/>
                        <%= form.text_field :username, id: :signup_username, onchange: 'checkUsername()' %>
                        <p id="errorUser" class='error'></p>
                        <p id="successUser" class='success'></p>
                    </p>                 
                    <p>
                        <%= form.label ('Địa chỉ email ') %> <span class="obli">(*)</span> <br/>
                        <%= form.text_field :email, id: :signup_email, onchange: 'checkEmail()' %>
                        <p id="errorEmail" class='error'></p>
                        <p id="successEmail" class='success'></p>
                    </p>
                    
                    <p>
                        <%= form.label ('Mật khẩu ') %> <span class="obli">(*)</span> <br/>
                        <%= form.password_field :password, id: :signup_password, onchange: 'checkPassword()' %>
                        <p id="errorPass" class='error'></p>
                    </p>
                    
                    <p>
                        <%= form.label ('Xác thực mật khẩu ') %> <span class="obli">(*)</span> <br/>
                        <%= form.password_field :password_confirmation,
                            id: :signup_password_confirmation, onchange: 'checkPasswordConfirm()' %>
                        <p id="errorPasswordConfirm" class='error'></p>
                    </p>
                    
                    <p>
                        <%= form.label ('Điện thoại di động ') %> <span class="obli">(*)</span>  <br/>
                        <%= form.text_field :phone, id: :signup_phone, onchange: 'checkPhone()' %>
                        <p id="errorPhone" class='error'></p>
                    </p>
                    
                    <p>
                        <%= form.label ('Tên đầy đủ ') %> <span class="obli">(*)</span> <br/>
                        <%= form.text_field :name, id: :signup_name, onchange: 'checkName()' %>
                        <p id="errorName" class='error'></p>
                    </p>
                    
                    <p>
                        <%= form.label ('Ngày sinh ') %> <br/>
                        <%= form.date_field :birthday, class: "form-control" %>
                    </p>
                    
                    <p>
                        <label class="container-radio">Nam
                            <%= form.radio_button :gender, 'male', checked: true %>
                            <span class="checkmark"></span>
                        </label>
                        <label class="container-radio">Nữ
                            <%= form.radio_button :gender, 'female' %>
                            <span class="checkmark"></span>
                        </label>                            
                    </p>
                    
                    <p>
                        <%= form.label ('Địa chỉ ') %> <br/>
                        <%= form.text_field :address, id: :user_address %>
                    </p>
                    
                    <p>
                        <label class="container-radio">Cá nhân
                            <%= form.radio_button :personal, 'true', checked: true %>
                            <span class="checkmark"></span>
                        </label>
                        <label class="container-radio">Công ty
                            <%= form.radio_button :personal, 'false' %>
                            <span class="checkmark"></span>
                        </label>                          
                    </p>
                    <p class="signin button">
                        <%= form.submit ('Đăng ký'), id: 'signup_btn', :type => 'button', onclick: 'validateSignupForm()'%>
                        <!-- , :type => 'button', onclick: 'validateSignupForm()' -->
                    </p>
                    <%= link_to 'Về trang chủ', root_path %>
                    <p class="change_link">  
                        Bạn đã là thành viên?
                    <%= link_to  " Trở lại đăng nhập ", new_user_session_path, onclick: 'resetLoginForm()'%>
                    </p>
                <% end %>
                </div>
            </div>  
        </div>
    </div>

  </body>
</html>

