

<div class="container" style="padding:50px 0px 100px 0px;">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2 style="text-align: center; margin-bottom: 50px;"><%= t('login.unlock_account')%></h2>
      <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>
        <div class="row"> 
          <div class="field col-md-9">
            <%= f.email_field :email, autofocus: true, autocomplete: "email",
            class: 'form-control',
            placeholder: t("devise_custom.input_email") %>
          </div>
          <div class="actions col-md-3">
            <%= f.submit t("devise_custom.send_again"), class: 'btn btn-primary col-md-12'%>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

