<h1 style='text-align: center'>Thay đổi mật khẩu</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <%= form_for(@user, url: change_password_url) do |f| %>
            <div class="row">
                <span>Mật khẩu cũ:</span>
                <%= password_field_tag :old_password, nil, class: 'form-control' %>
            </div>
            <div class="row">
                <span id='oldPwd' class="error"></span>
            </div>
            <div id="div_2_button" style="margin-top: 20px" class="row">
                <div class="col-md-4"></div>
                <button type="button" id="btnConfirm" class="col-md-2 btn btn-dark" onclick="confirmOldPwd()">Xác nhận</button>
                <%= link_to 'Trở về', edit_user_path(current_user.id), class: 'col-md-2 btn btn-info' %>
                <div class="col-md-4"></div>
            </div>
            <div id="formChangePwd" style="display: none;">
                <div class="row">
                    <span>Mật khẩu mới:</span>
                    <%= f.password_field :change_password, class: 'form-control', onchange: 'checkPwd()' %>
                    <p id="errorPwd" class="error"></p>
                </div>
                <div class="row">
                    <span>Xác thực mật khẩu mới:</span>           
                    <%= f.password_field :change_password_confirmation, class: 'form-control', onchange: 'checkPwdConfirm()' %>
                    <p id="errorPwdConfirm" class="error"></p>
                </div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-md-4"></div>
                    <%= f.submit "Thay đổi", id: 'btnChangePwd', type: 'button', onclick: 'submitChangePwd()', class: "col-md-2 btn btn-primary" %>
                    <%= link_to 'Trở về', edit_user_path(current_user.id), class: 'col-md-2 btn btn-info' %>
                    <div class="col-md-4"></div>
                </div>
            </div>
            <% end %>            
        </div>              
        <div class="col-md-3"></div>
        <div class="col-md-12"  style="text-align: center">
            <span id="noti_pwd" class="success"><%= flash[:noti_pwd] %></span>
        </div>
        
    </div>
</div>  