<div class="container-fluid" style='background-color: #E0F7FA'>
  <div class="row" style="padding-top: 50px;">  
    <!-- show personal -->
    <div class="col-sm-4 col-md-4">
      <div class="tung-edit-title col-md-12 font-weight-bold">
        <%# <span style="vertical-align: middle">Trang cá nhân</span> %>
      </div>
      <div class="card col-md-12">
        <%= image_tag("login-icon.png", class: 'avatar-img')%>
        <h1 style="margin-bottom: 30px"><%= @user.name %></h1>
        <%= link_to 'Thay đổi mật khẩu', edit_change_password_path, class: 'btn btn-danger' %>
      </div>
    </div>
    <!-- show info -->
    <div class="col-sm-8 col-md-8">
      <div class="tung-edit-title col-md-12 font-weight-bold" style='text-align: left; margin-bottom: 20px'>
          <%# <span style="vertical-align: middle;">Thông tin cá nhân</span> %>
      </div>
      
      <div class="col-md-12">
        <%= form_with(model: @user, id: 'update_form', local: true) do |form| %>
          <!-- input Name -->
          <div class="form-group row edit-form-group">
            <label class="col-md-2 col-form-label font-weight-bold">Họ và tên <span class="obli">(*)</span></label>
            <div class="col-md-7">                     
              <%= form.text_field :name, id: :user_edit_name, onchange: 'checkEditName()', class: "form-control input-md"%>  
            </div>
            <p id="errorName" class='error'></p>
            <div class="col-md-3"></div>
          </div>       
          <!-- input Birthday -->
          <div class="form-group row edit-form-group">
            <label class="col-md-2 col-form-label font-weight-bold">Ngày sinh</label>
            <div class="col-md-7">
                <%= form.date_field :birthday, class: "form-control" %>
            </div>
            <div class="col-md-3"></div>
          </div>
          <!-- input Email -->
          <div class="form-group row edit-form-group">
            <label class="col-md-2 col-form-label font-weight-bold">Email</label>
            <div class="col-md-7">
              <%= form.text_field :email, class: "form-control", disabled: true %>
            </div>
            <div class="col-md-3"></div>
          </div>
          <!-- input Gender -->
          <div class="form-group row edit-form-group">
            <label class="col-md-2 col-form-label font-weight-bold">Giới tính</label>
            <div class="col-md-7">
              <label class="container-radio">Nam
                <%= form.radio_button :gender, 'male', checked: true %>
                <span class="checkmark"></span>
              </label>
              <label class="container-radio">Nữ
                <%= form.radio_button :gender, 'female' %>
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="col-md-3"></div>
          </div>
          <!-- input Phone -->
          <div class="form-group row edit-form-group">
            <label class="col-md-2 col-form-label font-weight-bold">Số điện thoại</label>
            <div class="col-md-7">
              <%= form.text_field :phone, class: "form-control", id: :user_edit_phone, onchange: 'checkEditPhone()' %>
            </div>
            <p id="errorPhone" class='error'></p>
            <div class="col-md-3"></div>
          </div>
          <div class="form-group row edit-form-group">
            <label  class="col-md-2 col-form-label font-weight-bold">Địa chỉ</label>
            <div class="col-md-7">
              <%= form.text_field :address, class: "form-control" %>
            </div>
            <div class="col-md-3"></div>
          </div>
          <div class="row">
            <div class="col-md-3"></div>
            <%= form.submit ('Lưu thay đổi'), class: 'col-md-3 btn btn-primary', type: 'button', onclick: 'validateEditForm()' %>
            <span>&nbsp&nbsp</span>
            <%= link_to 'Trở về', root_path, class: 'col-md-2 btn btn-info' %>
            <div class="col-md-4"></div>
          </div>
          <% end %>
        </div>
      </div>
    </div>  
</div>
      
      