
<div class="container" style="padding: 50px 0 100px 0px">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2 style="text-align: center"><%= t('change_password.change_password_title')%></h2>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>
        <div class="col-md-12" style="margin-bottom: 20px">
          <div class="field">
            <%= f.label :password, "Mật khẩu mới" %><br />
            <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control" %>
          </div>
        </div>
        <div class="col-md-12" style="margin-bottom: 20px">
          <div class="field">
            <%= f.label :password_confirmation, "Xác nhận mật khẩu mới" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
          </div>
        </div>
        <div class="col-md-12" style="margin-bottom: 20px">
          <div class="row">
            <div class="col-md-4"></div>
            <%= f.submit t('change_password.change_button'), class: 'btn btn-success col-md-4' %>
            <div class="col-md-4"></div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
