<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <style>
      #locationField, #controls {
        position: relative;
        width: 480px;
      }
      #autocomplete {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 99%;
      }
      .label {
        text-align: right;
        font-weight: bold;
        width: 100px;
        color: #303030;
      }
      #address {
        border: 1px solid #000090;
        background-color: #f0f0ff;
        width: 480px;
        padding-right: 2px;
      }
      #address td {
        font-size: 10pt;
      }
      .field {
        width: 99%;
      }
      .slimField {
        width: 80px;
      }
      .wideField {
        width: 200px;
      }
      #locationField {
        height: 20px;
        margin-bottom: 2px;
      }
      #show-advance {
        color: white;
      }
      #full-search {
        padding: 30px;
        <%# padding-top: 30px;
        padding-bottom: 30px; %>
      }
      #advance-search {
        padding-left: 45px
      }
    </style>

<div class="container" style="padding-left:25px; padding-right:25px">
  <div style="background-color: white">
  <div id="full-search" class="container">
    <%= form_tag("/", method: "get", class: "row") do %>
    <%= hidden_field_tag(:search_type, "full") %>
    <%# <div class="col-md-1"></div> %>
    <div class="col-md-5">
      <%= text_field_tag(:query, "", class: "form-control", placeholder: 'Nhập địa điểm') %>
    </div>
    <div class="col-md-4">
    <%= link_to 'Tìm kiếm nâng cao', '#all-search', 
    class: 'btn btn-primary col-md-12', data: {toggle: 'collapse'}  %> 
  </div>
    <div class="col-md-3">
      <%= submit_tag("Tìm kiếm", class: "btn btn-success col-md-12") %>
    </div>
    <% end %>     
  </div>

  <div id="all-search" class="collapse col-md-12" style="background-color: white">
    <div class="row">
      <div id="advance-search" class="col-md-6">
        <!-- LOAD GGMAP LIBRARY -->
        <%= form_for(:search, url:"/posts/result", method: "get") do |f| %>
          <%= f.hidden_field :search_type, :value => "advance" %>
          <!-- CATEGORY select -->
            <div class="category">
                <%= f.select :category_id, options_from_collection_for_select(@categories, "id", "name"),
                  {prompt:'--Chọn hình thức nhà đất--'}, {class: 'row form-control margin-form'} %>
            </div>
            <div id="category-detail">
                <%= f.select :category_detail_id, "<option></option>",
                {prompt:'--Chọn loại nhà đất--'}, {class: 'row form-control margin-form'} %>
            </div>
            <!-- CITY SELECT -->
            <div class="city">
                <%= f.select :city_id, options_from_collection_for_select(@cities, "id", "name", params[:id]),
                  {prompt: "--Chọn Tỉnh/Thành phố--"}, {class: 'row form-control margin-form'} %>
            </div>
            <!-- DISTRICT SELECT -->
            <div class="district">
                <%= f.select :district_id, '<option></option>', 
                {include_blank: true, prompt: '--Chọn Quận/Huyện--'}, {class: 'row form-control margin-form'}  %>
            </div>
            <!-- AREA  -->
            <div class="field row margin-form">
              <div class="col-sm-4 col-lg-4">Diện tích nhỏ từ</div>
              <%= f.text_field :area_bottom, id: :area_bottom, class: 'form-control col-md-3' %>
              <div class="col-sm-2 col-lg-2">đến</div>
              <%= f.text_field :area_top, id: :area_top, class: 'form-control col-md-3' %>
            </div>
            <div class="field row margin-form">
              <div class="col-sm-4 col-lg-4">Giá cả từ</div>   
              <%= f.text_field :price_bottom, id: :price_bottom, class: 'form-control col-md-3' %>
              <div class="col-sm-2 col-lg-2">đến</div>   
                <%= f.text_field :price_top, id: :price_top, class: 'form-control col-md-3' %>
            </div>

            <%= link_to  "Thêm chi tiết", '#super_advance', data: {toggle: 'collapse'}, style: 'text-decoration: underline;' %>
      </div>    

    <!-- SUPER ADVANCE -->
      <div id="super_advance" class="collapse col-md-6" style="padding: 0px 30px 0px 30px">
          <!-- WARD -->
        <div class="ward margin-form">
          <%= f.select :ward_id,"<option></option>", {prompt: "--Chọn Phường/Xã--"}, {class: 'form-control'} %>
        </div>
        <!-- STREET -->
        <div class="street margin-form">
          <%= f.select :street_id,"<option></option>", {prompt: "--Chọn Đường/Phố--"}, {class: 'form-control'} %>
        </div>
        <!-- HOUSE DIRECTION -->
        <div class="house_direction margin-form">
          <%= f.select :house_direction, 
          "<option value="">Không xác định</option><option value='Đông'>Đông</option><option value='Tây'>Tây</option><option value='Nam'>Nam</option><option value='Bắc'>Bắc</option><option value='Đông-Bắc'>Đông-Bắc</option><option value='Tây-Bắc'>Tây-Bắc</option><option value='Tây-Nam'>Tây-Nam</option><option value='Đông-Nam'>Đông-Nam</option>".html_safe,
          {prompt: "--Chọn hướng nhà--"}, {class: 'form-control'} %>               
        </div>
        <!-- BEDROOM -->
        <div class="bedroom margin-form">
          <%= f.select :bedroom,"<option value="">Không xác định</option><option value=1>1+</option><option value=2>2+</option><option value=3>3+</option><option value=4>4+</option><option value=5>5+</option>".html_safe,
          {prompt: "--Chọn số phòng ngủ--"}, {class: 'form-control'} %>                               
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4" style="padding: 0px 30px 0px 30px">
          <%= f.submit ('Tìm kiếm'), class: 'btn btn-info col-md-12', style: 'margin-top: 20px' %>
      </div>
      <div class="col-md-4"></div>
    </div>
    <% end %>
  </div>
</div>
</div>

<script>
        // This example displays an address form, using the autocomplete feature
        // of the Google Places API to help users fill in the information.
  
        // This example requires the Places library. Include the libraries=places
        // parameter when you first load the API. For example:
        // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">
        var address = {};
        var placeSearch, autocomplete;
  
        function initAutocomplete() {
          // Create the autocomplete object, restricting the search to geographical
          // location types.
          autocomplete = new google.maps.places.Autocomplete(
              /** @type {!HTMLInputElement} */(document.getElementById('query')),
              {types: ['geocode']});
  
          // When the user selects an address from the dropdown, populate the address
          // fields in the form.
          autocomplete.addListener('place_changed', fillInAddress);
        }
  
        function fillInAddress() {
          // Get the place details from the autocomplete object.
          var place = autocomplete.getPlace();
          address = passData(place.address_components);
          
          
        }
  
        // Bias the autocomplete object to the user's geographical location,
        // as supplied by the browser's 'navigator.geolocation' object.
        function geolocate() {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
              var geolocation = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
              };
              var circle = new google.maps.Circle({
                center: geolocation,
                radius: position.coords.accuracy
              });
              autocomplete.setBounds(circle.getBounds());
            });
          }
        }
        // convert place to object
        function passData(model) {
            for(var i = 0; i < model.length; i++) {
                var addressType = model[i].types[0];
                if (addressType === 'administrative_area_level_1') {
                    address.city = model[i].long_name;
                  }
                  if(addressType == "administrative_area_level_2")
                  {
                    address.district = model[i].long_name;
                  }
                  if(addressType == "sublocality_level_1")
                  {
                    address.ward = model[i].long_name;
                  }
                  if(addressType == "route")
                  {
                    address.street = model[i].long_name;
                  }
                  if(addressType == "street_number")
                  {
                    address.add = model[i].long_name;
                  }
            } // end for
            console.log(address);
        
            
          }
      </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnFxsxcFARq6WccD-0Nm3J0qw4DpQ_F2w&libraries=places&callback=initAutocomplete"></script>
      