
<div style="background-color: gainsboro">
<div class="container">
    <div id="tung-div-search" class="row">
        <%= render 'search'%>
    </div>
    <div class="container">
    <div class="row">
        <h3 class="post-noti col-md-12"><%= flash[:noti] %></h3> 
    </div>
</div>
<% if !@posts.present? %>    
<div class="container">
    <div class="row">
        <h3 class="post-noti col-md-12"><%= t "welcome.no_result_notice" %></h3> 
    </div>
</div>
<% else %>
    <div class="container">
        <div id="tung-div-show" class="row">
            <% @posts.each do |post|%>
                <div class="post-member col-md-6 col-lg-4">
                    <div class="container pmb-detail">
                        <div class="row">
                            <div class="pmb-header">
                                <div class="pmb-date">
                                    <p class="day"><%= post.created_at.day %></p>
                                    <p class="month"><%= post.created_at.strftime(t("welcome.month"))  %>

                                    </p>
                                </div>
                                <div>
                                <%= link_to post.title, post_path(post.id), class: 'pmb-title'%>
                                </div>
                            </div>
                                <% if post.images.empty? %>
                                    <div class="pmb-img"
                                            style="background-image: url(<%= asset_url "default.jpg"%>)"
                                        >
                                    </div>
                                    <% else %>
                                    <% if post.images.first.url != nil && post.images.first.url.length > 0 %>
                                        <div class="pmb-img"
                                            style="background-image: url(<%= asset_url post.images.first.url%>)"
                                        >
                                        </div>
                                        <% else %>
                                        <div class="pmb-img"
                                            style="background-image: url(<%= post.images.first.url_out%>)"
                                        >
                                        </div>
                                    <% end %>
                                <% end %>
                                                            
                            <div class="pmb-content">
                                <div>  
                                    <p>
                                        <span><%= t "welcome.price" %> </span>
                                        <% if post.unit == 'agreement' %>                                        
                                        <span>
                                            <%= t 'agreement' %>
                                        <%else%>
                                            
                                            <% if  post.unit == 'million'%>
                                             <%= post.price %><%= t 'million' %>   
                                            <% elsif post.unit == 'billion' %>
                                              <%= post.price %><%= t 'billion' %>
                                            <% elsif post.unit == 'hunderm2' %>
                                              <%= post.price %><%= t 'hunderm2' %>
                                            <% else %>
                                              <%= post.price %><%= t 'millionm2' %>
                                            <% end %>                                    
                                        </span>
                                        <% end %>
                                    <p>
                                        <span><%= t "welcome.erea" %></span>
                                        <span><%= post.area %> m²</span>
                                    </p>
                                    <p>
                                        <span><%= t "welcome.address" %></span>
                                        <span><%= post.address_number %></span>
                                    </p>
                                </div>                    
                            </div>
                        </div>
                    </div>
                </div>     
            <% end %>
        </div>
    </div>

    <%= paginate @posts, theme: 'twitter-bootstrap-4', outer_window: 3 %>
    
<% end %>
</div>

</div>