<div id="full-search">
    <%= form_tag("/posts/result", method: "get") do %>
    <%= label_tag(:query, "Search for:") %>
    <%= hidden_field_tag(:search_type, "full") %>
    <%= text_field_tag(:query) %>
    <%= submit_tag("Search") %>
    <% end %>    
<a type="button" id='show-advance' class="btn btn-primary" onclick="onChangeForm('advance-search', 'full-search',)">advance search</a>
        
</div>
<div id="advance-search" style="display: none">
    <%= form_for(:search, url:"/posts/result", method: "get" ) do |f| %>
        <%= f.hidden_field :search_type, :value => "advance" %>
        <!-- CATEGORY select -->
        <div class="category">
            <%= f.select :category_id, options_from_collection_for_select(@categories, "id", "name"), prompt: "--Select category--"%>
        </div>
        <div id="category-detail" style="display:none;">
            <%= f.select :category_detail_id, "<option></option>", prompt: "--Select specific category--"%>
        </div>
        <!-- CITY SELECT -->
        <div class="city">
            <%= f.select :city_id, options_from_collection_for_select(@cities, "id", "name", params[:id]), prompt: "--Select city--" %>
        </div>
        <!-- DISTRICT SELECT -->
        <div class="district">
            <%= f.select :district_id,"<option></option>", include_blank: true, prompt: "--Select district" %>
        </div>
        <!-- AREA  -->
        <div class="field">
            <%= f.label :area_bottom %>
            <%= f.text_field :area_bottom, id: :area_bottom %>
        </div>
        <div class="field">
            <%= f.label :area_top %>
            <%= f.text_field :area_top, id: :area_top %>
        </div>
        <!-- PRICE  -->
        <div class="field">
            <%= f.label :price_bottom %>
            <%= f.text_field :price_bottom, id: :price_bottom %>
        </div>
        <div class="field">
            <%= f.label :price_top %>
            <%= f.text_field :price_top, id: :price_top %>
        </div>
        <button type="button" id="btnShowSAdvance" class="btn btn-success" >Show super advance</button>
        <!-- SUPER ADVANCE -->
        <div id="super_advance" style="display: none;">
            <!-- WARD -->
            <div class="ward">
                <%= f.select :ward_id,"<option></option>", prompt: "--Select ward" %>
            </div>
            <!-- STREET -->
            <div class="street">
                <%= f.select :street_id,"<option></option>", prompt: "--Select street" %>
            </div>
            <!-- HOUSE DIRECTION -->
            <div class="house_direction">
                    <%= f.select :house_direction,"<option value="">Không xác định</option><option value='Đông'>Đông</option><option value='Tây'>Tây</option><option value='Nam'>Nam</option><option value='Bắc'>Bắc</option><option value='Đông-Bắc'>Đông-Bắc</option><option value='Tây-Bắc'>Tây-Bắc</option><option value='Tây-Nam'>Tây-Nam</option><option value='Đông-Nam'>Đông-Nam</option>".html_safe, prompt: "--Select house direction" %>               
            </div>
            <!-- BEDROOM -->
            <div class="bedroom">
                <%= f.select :bedroom,"<option value="">Không xác định</option><option value=1>1+</option><option value=2>2+</option><option value=3>3+</option><option value=4>4+</option><option value=5>5+</option>".html_safe, prompt: "--Select house direction" %>                               
            </div>
        </div>
        <div class="actions">
            <%= f.submit %>
        </div>
    <% end %>
    
<a id='show-full' class="btn btn-primary" onclick="onChangeForm('full-search', 'advance-search')">full search</a>

</div>