<div class="container-fluid">
  <p id="notice"><%= notice %></p>
  <%= render 'search'%>
  <h1>Posts</h1>
  <% @posts.each do |post|%>
        <%= post.title %>
        </br>
    <% end %>
    <%= paginate @posts %>
  <br>
  <%= link_to 'New Post', new_post_path %>
</div>
