
<h4 style="text-align: center;margin-top:20px;">Tất Cả Các Bài Viết Của
    <%= @user.name %>
</h4>
<div class="container">
        <span style="color:red" id="notice"><%= notice %></span>
        <table class="table table-hover" style="text-align: center;">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tiêu Đề</th>
                    <th>Ngày Tạo</th>
                    <th>Xem</th>
                    <th>Sửa</th>
                    <th>Xóa</th>
                </tr>
            </thead>
            <tbody>
                <% @posts.each.with_index(1) do |post, index| %>
                    <tr>
                        <th scope="row"><%= index %> </th>
                        <td style="text-align: left;"><%= post.title%></td>
                        <td><%= post.created_at.strftime("%I:%M %p, %d/%m/%Y") %></td>
                        <td><%= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, post_path(post) %></td>
                        <td><%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_user_post_path(@user.id ,post) %></td>
                        <td><%= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i>'.html_safe, user_post_path(@user.id ,post), method: :delete, data: { confirm: 'Bạn có chắc muốn xóa bài viết này không?' } %> </td>
                    </tr>
                <%end%>
            </tbody>
        </table>
        <%= paginate @posts, theme: 'twitter-bootstrap-4', window:2 %>
</div>
