<!--<p id="notice"><%= notice %></p> -->
<div class="container-fluid">
  <div class="row window window--hight-75vh position-realative overflow-hidden">
    <div class="background background--image paralax"
          style="background-image: url(<%= asset_url !(@post.images.empty?)?(@post.images.first.url):("default.jpg")%>)"
      >
      <div class="background_blackcover"></div>
    </div>
    <p class="position-center ellipsis col-xs-11 col-sm-10 col-md-8 col-lg-8" id="post_title_style"><%= @post.title %></p>
  </div>
</div>
  <div class="container">
    <div class="row window window--padding-50px">
      <div class="col-sm-12">
        <p class="post_span--size-big">Thông Tin</p>
      </div>
      <div class="col-sm-6">
        <div class="table--overflow">
          <table class="table table-hover table--label-right position-center position-relative">
            <tbody>
              <tr>
                <td><strong>Địa Chỉ:</strong></td>
                <td><%= @post.address_number %></td>
              </tr>
              <tr>
                <td><strong>Dự Án:</strong></td>
                <td><%= @post.project %></td>
              </tr>

              <tr>
                <td><strong>Diện Tích:</strong></td>
                <td><%= @post.area %></td>
              </tr>

              <tr>
                <td><strong>Giá:</strong></td>
                <td><%= @post.price %></td>
              </tr>
              <tr>
                <td><strong>Tổng Tiền:</strong></td>
                <td>
                  <%if @post.price != nil %>
                    <%if @post.area != nil %>
                        <% case  @post.unit
                          when 'Triệu' %> <%= @post.price %> triệu 
                          <% when 'Tỷ' %> <%= @post.price %> tỷ
                          <% when 'Trăm nghìn/m2' %> <%= @post.price * @post.area %> Trăm nghìn/m2
                          <% when 'Triệu/m2' %> <%= @post.price * @post.area %> Triệu/m2
                          <%else %> Thoả Thuận
                        <%end%>
                    <%else%>
                        <% case  @post.unit
                          when 'Triệu' %> <%= @post.price %> triệu 
                          <% when 'Tỷ' %> <%= @post.price %> tỷ
                          <%else %> Thoả Thuận
                        <%end%>
                    <%end%>
                  <% else %> 
                  Thỏa Thuận
                    <%#= @post.price %> <%#= @post.unit%>
                  <%end%>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-sm-6" style="min-height:300px;">
        <div class="background background--image position-relative"
              style="background-image: url(<%= asset_url !(@post.images.empty?)?(@post.images.first.url):("default.jpg")%>)"
          >
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" style="background-color:#e0e0e0;color:#202020">
    <br/>
    <div class="row window">
      <div class="col-sm-12" id="post_description_style">
        <p class="post_span--size-big">Mô Tả</p>
        <p id="post_description_content">
          <%= @post.description %>
        </p>
      </div>
    </div>
    <div class="row window">
      <div class="col-sm-12">
        <% @imageNum = @post.images.length%>
        <% if @imageNum == 0 %>
          <div class="min-size background background--image position-relative" 
                style="background-image: url(<%= asset_url !(@post.images.empty?)?(@post.images.first.url):("default.jpg")%>)">
          </div>
        <% else %>
          <div id="carouselExampleIndicators" class="carousel slide size" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <% (@imageNum - 1).times do |i|%>
                <li data-target="#carouselExampleIndicators" data-slide-to="<%= i + 1%>"></li>
              <% end %>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <div class="d-block w-100 background background--image" 
                  style="background-image: url(<%= asset_url @post.images.first.url%>)">
                </div>
              </div>
              <% (@imageNum - 1).times do |i|%>
                <div class="carousel-item">
                  <div class="d-block w-100 background background--image" 
                    style="background-image: url(<%= asset_url (@post.images[i+1].url)%>)">
                  </div>
                </div>
              <% end %>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Trước</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Sau</span>
            </a>
          </div>
        <% end %>
        <br/>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row window window--padding-50px">
      <div class="col-sm-12">
        <p class="post_span--size-big">Mô Tả Chi Tiết</p>
        <br/>
      </div>
      <div class="col-sm-6">
        <div class="table--overflow">
          <p class="post_span--size-small">Thông Tin Về Nhà</p>
          <table class="table table-hover table--label-right">
            <tbody>
              <tr>
                <td><strong>Mặt Tiền:</strong></td>
                <td><%= @post.front %><//td>
              </tr>

              <tr>
                <td><strong>Đường Vào:</strong></td>
                <td><%= @post.entrance %></td>
              </tr>

              <tr>
                <td><strong>Hướng Nhà:</strong></td>
                <td><%= @post.house_direction %></td>
              </tr>

              <tr>
                <td><strong>Hướng Ban Công:</strong></td>
                <td><%= @post.balcony_direction %></td>
              </tr>

              <tr>
                <td><strong>Số Tầng:</strong></td>
                <td><%= @post.floor %><td>
              </tr>

              <tr>
                <td><strong>Số Phòng Ngủ:</strong></td>
                <td><%= @post.bedroom %><td>
              </tr>

              <tr>
                <td><strong>Số Toilet:</strong></td>
                <td><%= @post.toilet %><td>
              </tr>

              <tr>
                <td><strong>Nội Thất:</strong></td>
                <td><%= @post.furniture %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="table--overflow">
          <p class="post_span--size-small">Thông Tin Liên Hệ</p>
          <table class="table table-hover table--label-right">
            <tbody>
              <tr>
                <td><strong>Tên Người Liên Hệ:</strong></td>
                <td><%= @post.contact_name %></td>
              </tr>

              <tr>
                <td><strong>Địa Chỉ:</strong></td>
                <td><%= @post.contact_address %></td>
              </tr>

              <tr>
                <td><strong>Số Điện Thoại:</strong></td>
                <td><%= @post.contact_phone %></td>
              </tr>

              <tr>
                <td><strong>Di Động:</strong></td>
                <td><%= @post.contact_mobile %></td>
              </tr>

              <tr>
                <td><strong>Mail:</strong></td>
                <td><%= @post.contact_mail %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row window window--padding-50px">
      <div class="col-sm-12">
        <p class="post_span--size-big">Vị Trí</p>
        <br/>
      </div>
      <div class="col-sm-12">           
          <div class="checkbox">
              <span><input class="service_type" type="checkbox" value="store" checked> Cửa Hàng</span>
              <span><input class="service_type" type="checkbox" value="school" checked> Trường Học </span>
              <span><input class="service_type" type="checkbox" value="hospital"> Bệnh Viện </span>
              <span><input class="service_type" type="checkbox" value="health"> Khu Thể Thao </span>
              <span><input class="service_type" type="checkbox" value="restaurant"> Nhà Hàng </span>
              <span><input class="service_type" type="checkbox" value="bus_station"> Trạm Xe Buýt </span>
              <span><input class="service_type" type="checkbox" value="lodging"> Khách Sạn/ Nhà Trọ </span>
              <span><input class="service_type" type="checkbox" value="local_government_office"> Ủy Ban </span>
          </div>
          <div class="radius">
            <div class="row col-sm-12">
                <input id="txt_radius" type="number" placeholder="Đổi kích thước bán kính" required class="form-control col-sm-4"> 
                <button type="button" class="btn btn-dark col-sm-2" onclick="onChangeRadius($('#txt_radius').val())">Chọn</button>
            </div>
                  <p id="require_number" style="color: red"></p>       
          </div>
      </div>
      <div class="col-sm-12">
        <div id="map_container"></div>
        <div id="map">Google Map</div>
        <div class="table-responsive" >
            <table class="table" id="table_Info"></table>
        </div>
      </div>
    </div>
  </div>

<!-- CONFIG MAP -->
<style>
  #map_container{
    position: relative;
  }
  #map{
      min-height: 400px;
      height: 0;
      overflow: hidden;
      padding-bottom: 22.25%;
      padding-top: 30px;
      position: relative;
  }
</style>
<script>
  var map; // google map component
  var markerArray = []; // list marker , use to clear or create
  var positions = []; // list position to create table
  var infoWindow; // marker info window
  var currentPosition ; // ...
  var url = "./img/"; // config url
  var icon = {
      "bus_station" : "<%= asset_url "bus_station.png"   %>",
      "hospital": "<%= asset_url "hospital.png"   %>",
      "lodging": "<%= asset_url "lodging.png"   %>",
      "school":"<%= asset_url "school.png"   %>",
      "store": "<%= asset_url "store.png"   %>",
      "restaurant": "<%= asset_url "restaurant.png"   %>",
      "health": "<%= asset_url "health.png"   %>",
      "local_government_office": "<%= asset_url "local_government_office.png"   %>",
      "other": "<%= asset_url "other.png"   %>",
  }
  var types = []; // list type of service
  var currentCircle; // circle
  var radius = 200;
  //INIT MAP
  function initMap() {
      positions = [];
      initTypes();
      
      currentPosition = { lat: <%= @post.lat%>,lng: <%= @post.lng%>};                
      map = new google.maps.Map(document.getElementById('map'), {
          center: currentPosition,
          zoom: 17    
      });

      infoWindow = new google.maps.InfoWindow();
      
      createCurrenMarker(currentPosition);
      
      // place service
      if(types.length < 1) {
          //
      }
      else {
          
          getListNearByService();
          //create new circle
          currentCircle = new google.maps.Circle({
              strokeColor: '#FF0000',
              strokeOpacity: 0.8,
              strokeWeight: 2,
              fillColor: '#FF0000',
              fillOpacity: 0.35,
              map: map,
              center: currentPosition,
              radius: Number.parseFloat(radius)
          });

          
      }
      
      
  }

  // GET LIST NEARBY SERVICE
  function onChangeRadius(rad) {
      radius = rad;
      initMap();
      
  }
  // LOOP search list nearby 
  function getListNearByService() {
      var service = new google.maps.places.PlacesService(map);
      for(var i=0; i< types.length; i++) {
          service.nearbySearch({
              location: currentPosition, // set default
              radius: Number.parseFloat(radius), // unit: meter
              type: types[i]
          }, callback);
      }
          
  }
  function createMarker(place) {
      
      var placeLoc = place.geometry.location;
      var iconURL = icon["other"];
      // console.log(place.types);
      for(var item in icon) {
          if(place.types[0].match(new RegExp(item))) {
              //console.log("++++equal++++")
              iconURL = icon[item];
          }
          
      }
      var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location,
          icon: iconURL
      });
      // ADD POSITION TO ARRAY
      positions.push(place);
      // ADD TYPE TO MARKER
      marker.type = place.types[0];
      //PUSH MARKER TO ARR
      markerArray.push(marker); 
      // ADD INFOWINDOW TO MARKER
      google.maps.event.addListener(marker, 'click', function(){
          infoWindow.setContent(place.name);
          infoWindow.open(map, this);
      });
  }
  // CREATE CURRENT POSITION MARKER
  function createCurrenMarker(place) {
      var marker = new google.maps.Marker({
          map: map,
          position: place
      });
      
      google.maps.event.addListener(marker, 'click', function(){
          infoWindow.setContent("Your position");
          infoWindow.open(map, this);
      });
  }
  

  function callback(results, status) {
      if( status === google.maps.places.PlacesServiceStatus.OK) {
          for( var i = 0; i < results.length; i++) {
              // calculate distances here
              var distance = Number.parseInt(getDistance(currentPosition, results[i].geometry.location));
              results[i].distance = distance;
              //console.log(results[i].distance);                                              
              createMarker(results[i]);
          }
          initTableInfo();
      }
  }

  function clearMap() {
      currentCircle.setMap(null);
      while(markerArray.length > 0) {
          markerArray.pop().setMap(null);
      }
  }

  // CREATE TYPE ARRAY
  function initTypes() {
      types = [];
      // clear position array
      positions = [];
      // clear table 
      
      var checkedArr = $('.service_type:checkbox:checked')
      for(var i=0; i< checkedArr.length; i++) {
          types.push(checkedArr[i].value);
      }
  }

  // CAL DISTANCE
  function rad(x) {
      return x * Math.PI / 100;
  };

  function getDistance(p1,p2) {
      var R = 6378137; // Earth’s mean radius in meter
      var dLat = rad(p2.lat() - p1.lat);
      var dLong = rad(p2.lng() - p1.lng);
      var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
          Math.cos(rad(p1.lat)) * Math.cos(rad(p2.lat())) *
          Math.sin(dLong / 2) * Math.sin(dLong / 2);
      var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
      var d = R * c;
      return d; // returns the distance in meter
  }

  // CREATE TABLE INFO
  function initTableInfo() {
      $('#table_Info').html("");
      for(var i=0 ; i< types.length; i++) {
          $('#table_Info').append("<thead><tr><th>"+toTitleCase(types[i])+"</th><th>Address</th><th>Distance</th></tr></thead>");
          var tbody= $("<tbody></tbody>");
          // LOOP postion to create table
          for(var j=0 ; j< positions.length; j++) {
              // check type 
              
              if(positions[j].types[0].match(new RegExp(types[i]))) {
                  //console.log("====");
                  tbody.append("<tr><td>"+positions[j].name+"</td><td>"+positions[j].vicinity+"</td><td>"+positions[j].distance+ " m"+"</td></tr>");
              }
          }
          // console.log(tbody);
          $('#table_Info').append(tbody);
      }
  }
  $(document).ready(function(){
      
      $('.service_type').change(function(){
          clearMap();
          initMap();
      });

      
  });
  function toTitleCase(str)
  {
      return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnFxsxcFARq6WccD-0Nm3J0qw4DpQ_F2w&libraries=places&callback=initMap" async defer></script>








