<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Address number:</strong>
  <%= @post.address_number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Project:</strong>
  <%= @post.project %>
</p>

<p>
  <strong>Area:</strong>
  <%= @post.area %>
</p>

<p>
  <strong>Price:</strong>
  <%= @post.price %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @post.unit %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @post.lng %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @post.lat %>
</p>

<p>
  <strong>Front:</strong>
  <%= @post.front %>
</p>

<p>
  <strong>Entrance:</strong>
  <%= @post.entrance %>
</p>

<p>
  <strong>House direction:</strong>
  <%= @post.house_direction %>
</p>

<p>
  <strong>Balcony direction:</strong>
  <%= @post.balcony_direction %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @post.floor %>
</p>

<p>
  <strong>Bedroom:</strong>
  <%= @post.bedroom %>
</p>

<p>
  <strong>Toilet:</strong>
  <%= @post.toilet %>
</p>

<p>
  <strong>Furniture:</strong>
  <%= @post.furniture %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @post.contact_name %>
</p>

<p>
  <strong>Contact address:</strong>
  <%= @post.contact_address %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @post.contact_phone %>
</p>

<p>
  <strong>Contact mobile:</strong>
  <%= @post.contact_mobile %>
</p>

<p>
  <strong>Contact mail:</strong>
  <%= @post.contact_mail %>
</p>

<%= link_to 'Edit', edit_user_post_path(@post) %> 
<%= link_to 'Back', posts_path %>
